{% extends 'base.html' %}

{% block title %}
    INDEX
{% endblock %}

{% block content %}
<div class="container mt-4">

<h1 class="mb-4">전시 목록</h1>
{% for exbihition in exbihition_list %}
    <div class="card my-3">
        <div class="card-header">
            <h4 class="card-title">{{exbihition.title}}</h4>
        </div>
        <div class="card-body">
          <p class="card-text">작가: {{exbihition.name}}</p>
          <p class="card-text">전시 기간: {{exbihition.start}} ~ {{exbihition.end}}</p>
          <p class="card-text">전시 작품: {{exbihition.arts|length}}점</p>
        </div>
      </div>
{% endfor %}

</div>
{% endblock %}
